doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Home
link.css(rel='stylesheet' href='../static/home.css')
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap' rel='stylesheet')
.sun
  img(src='../static/Sun - 1181x1181.png' alt='')

.chat
  div
    h1 Neural Nav
  .about
    p
      |Chat your way to a happier you.. 
      br
      |           
  .go
    form(action='/chat')
      button(type='submit')
        a(href='/chat') Chat..
section.bgi
  .air.air1
  .air.air2
  .air.air3
  .air.air4