*{
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 0.7%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    padding: 12px;
}
body{
    /* background-image: url("../static/WhatsApp Image 2023-04-01 at 5.53.03 PM.jpeg"); */
    /* background-image: linear-gradient(to bottom right,blue,rgb(255, 196, 0)); */
    background-image: linear-gradient(to bottom right,rgb(253, 127, 17),rgb(255, 196, 0));
     
     /* background-color: rgb(188, 212, 226); */
    background-attachment: fixed, scroll;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 110% 105%;
    /* changes made */
    /* overflow:; */
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}
.conv{
    /* background-color: rgb(167, 203, 226);
     */
     background-color: wheat;
    height: 65vh;
    width: 25vw;
    /* border: 4px solid black; */
    box-shadow: 10px 10px 10px white;
    animation: box 1.5s linear;
              
    margin: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    position: relative;
    
}
.chatbox{
    /* background-color: rgb(167, 203, 226); */
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 2;
    height: 64vh;
    width: 55vw;
    margin: 20px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    /* border: 4px solid black ; */
    animation: box 1s linear;
    box-shadow: 10px 10px 10px white;
    position: relative;

}
@keyframes box {
        0% {
            top: 100vh;

        }

        50% {
            top: -1vh;

        }

        100% {
            top: 1vh;

        }
    }
    @keyframes box2 {
        0% {
            left: -100vw;

        }

       

        100% {
            left:4vh;

        }
    }

.grid_container{
    background-color: brown;
}
#img{
        /* background-color: beige; */
        height: 320px;
        width: 320px;
        /* margin: 31% 0% 0% 11%; */
        position: relative;
        animation: meditation 0.8s infinite;
    
}

    @keyframes meditation {
        0% {
            top: 1vh;

        }

        50% {
            top: -1vh;

        }

        100% {
            top: 1vh;

        }
    }

.heading{
    /* position: absolute; */
    /* top: 3%; */
    /* left: 33%; */
    /* font-family: cursive; */
    transition: 0.2s;
    font-weight: bolder;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
.heading h1{
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px whitesmoke;
    overflow: hidden;
    border-right: 0.15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 5.5s steps(40, end), blink-caret .75s step-end infinite;
}



/* The typing effect */
@keyframes typing {
    from { width:0}
    to { width: 90%}
    
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(14, 14, 14); }
  }
  .heading:hover{
    font-size: 2.1rem;
  }
.chat{
    border: 2px solid black;
    /* height: 40px; */
    width: 37%;
    /* border-radius: 20px; */
    margin: 15px 20px 0px 20px;
    background-color: antiquewhite;
    padding: 15px 10px 12px 20px;
    /* imp peice of code */
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;

    
   
    
    
}
/* .chat2{
   
    border: 2px solid black;
    height: 40px;
    border-radius: 20px;
    margin: 15px 20px 0px 20px;
    background-color: rgb(143, 208, 218);
    padding: 15px 10px 0px 20px; */
    
    

#flex_box_chats{
    margin-top: 0px;
    overflow-y: auto;
   
    width: 97%;
    margin-right: 5px;
    height: 77%;
    margin-bottom: 55px;
}
.chat:hover{
    /* background-color: black; */
    /* height: 50px; */
    transition:0.2s;
    /* width: 37%; */
    box-shadow: 4px 4px 3px black;
    /* width: 101rem; */
    padding: 20px 10px 13px 20px;
    


}
.no_hover:hover{
    /* background-color: black; */
    /* height: 50px; */
    transition:0.2s;
    /* width: 37%; */
    box-shadow: 4px 4px 3px black;
    /* width: 101rem; */
    padding: 20px 10px 13px 20px;
    


}
.chatbox  input{
    position: absolute;
    border-radius: 20px;
width: 77%;
/* margin: 0px; */
/* margin: 0%; */
/* margin: 26% 0% 0% 4%; */
border: 3px solid black;
top: 87.3%;
left: 3.9%;
background-color: antiquewhite;
padding: 0px 10px;
animation: box2 1.3s linear;
height: 40px;


}
span :hover{
    
    transition: 0.2s;
    /* color: white; */
    /* background-color: grey; */
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 4px 4px 3px black;
    width: 78%;
    height: 9.3%;
    top: 86.7%;

}

button{
    position: absolute;
    transition: 0.2s;
/* margin: 0px 0px 0px 32px; */
height: 9.3%;
width: 60px;
border-radius: 20px;
top: 87.5%;
left: 86%;
background-color: antiquewhite;
animation: box2 0.7s linear;
margin-bottom: 10px;
}

button:hover{
    width: 80px;
    top: 86.5%;
    left: 85%;
    height: 50px;
    color: white;
    background-color: orange;
    cursor: pointer;
    box-shadow: 4px 4px 3px black;

}
#img:hover{
transition: 0.2s;
height: 400px;
width: 400px;
}
.left{
float: left;
clear:both;
background-color: rgb(143, 208, 218);
border-radius: 20px 20px 20px 0px;
}
.right{
float: right;
clear:both;
border-radius: 20px 20px 0px 20px;
}
.left_no_color{
    float: left;
clear:both;


}
#newid{
    display:block;
}
@media screen and (max-width:1565px){

    .heading{
        font-size:2rem;
    }

}
@media screen and (max-width:1480px){

    .heading{
        font-size:2rem;
    }

}
@media screen and (max-width:1310px){

    .heading{
        font-size:2rem;
    }

}
@media screen and (max-width:1145px){

    .heading{
        font-size:1.8rem;
    }

    #img{
        height: 250px;
        width: 250px;
    }
}
@media screen and (max-width:990px){

    .heading{
        font-size:1.5rem;
    }
    #img{
        height: 200px;
        width: 200px;
    }
}
@media screen and (max-width:812px){

    .heading{
        font-size:1.2rem;
    }.chatbox{
        animation: box 1s linear,
        box2 1s linear;
    }
}
@media(max-width:724px){
    .heading{
        font-size: 1rem;
    }
    .heading:hover{
        font-size: 1rem;
    }
}
@media screen and (max-width:650px){

    .heading{
        font-size:0.9rem;
    }
    .chatbox{
        height: 50vh;

    }
    .chatbox input{
        height: 30px;
    }
    .conv{
        height: 50vh;
    }
}
@media screen and (max-width:490px){

     .heading{
        font-size:0.7rem;
    }
    .chatbox{
        height: 40vh;
    }
    .conv{
        height: 40vh;
    }
    .chatbox input{
        width:70%;
    }
    button{
        left:80%;
        width:50px;
    }
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    /* background-color: rgb(167, 203, 226); */
    background-color: wheat;
    left: 50%;
    margin-top: 10px;
    
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background:rgb(143, 208, 218);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    border: 1px solid black;
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  .sun img{
    position: absolute;
    left: -140px;
    top: -160px;
    height: 500px;
    width: 500px;
    animation: rotate 40s infinite;
    /* z-index: 1000; */
   }
  
   @keyframes rotate {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }}